<div class="container">
  <h1>Add a new tag for <%= @plant.name %></h1>

  <%= simple_form_for([@plant, @plant_tag]) do |f| %>
    <%= f.input :tag, collection: Tag.all, input_html: { multiple: true }, include_hidden: false %>
    <%= f.submit %>
  <% end %>
</div>

